<link rel="icon" href="{{ '/favicon2.ico' | relative_url }}">
<style>
  .toc {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
  .toc .nav__title {
    background-color: transparent !important;
    color: #000 !important;
    font-weight: bold;
    font-size: 1rem !important;
    padding-left: 0;
  }
  .toc .nav__title i {
    display: none;
  }
  .toc__menu,
  .toc__menu a,
  .toc__menu li {
    background-color: transparent !important;
    border: none !important;
    font-weight: normal !important;
    font-size: 0.7rem !important;
    color: #555 !important;
  }
  .toc__menu a {
    color: #555 !important;
  }
  .toc__menu a:hover {
    color: #000 !important;
    text-decoration: underline;
  }
  .toc__menu {
    list-style: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
  }
  .toc__menu ul {
    list-style: circle outside !important;
    padding-left: 1.25em !important;
  }
  .toc__menu li {
    display: list-item !important;
  }
  .toc__menu a {
    padding: 0.25em 0 !important;
    display: inline !important;
  }
</style>
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    }
  };
</script>
<script id="MathJax-script" defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>