{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork"{% if post.locale %} lang="{{ post.locale }}"{% endif %}>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    <h2 class="archive__item-title no_toc" itemprop="headline">
      {% if post.pinned and page.url == "/" %}
        <span class="pinned-icon" title="Pinned post" style="font-size: 0.7em;">📌</span>

        <!-- <img
          src="{{ '/assets/ion-icon/pin-sharp.svg' | relative_url }}"
          class="pinned-icon"
          alt="Pinned"
          style="width:0.85em; height:0.85em; margin-right:0.1em; vertical-align:right; opacity:1.0; color:#ff0000;"
        > -->
      {% endif %}

      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
        <a href="{{ post.url | relative_url }}" rel="permalink">
          <i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span>
        </a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% include page__meta.html type=include.type %}
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
  </article>
</div>
